---
date: {{ .Post.CreatedAt }}
post_url: {{ .Post.URI }}
post_ids:
- {{ .Post.Id }}
{{- range .Descendants }}
- {{ .Id }}
{{- end }}
---

{{ .Post.Content | tomd }}

{{ range .Post.MediaAttachments }}
	{{- if eq .Type "image" -}}
![{{ .Description }}]({{ .Path }})
	{{ end }}
{{- end -}}

{{- range .Descendants }}
{{ .Content | tomd -}}
	{{ range .MediaAttachments }}
		{{- if eq .Type "image" -}}
![{{ .Description }}]({{ .Path }})
		{{ end }}
	{{- end -}}
{{- end -}}
