---
date: {{ .Post.CreatedAt }}
{{- if .Post.InReplyToId }}
in_reply_to: {{ .Post.InReplyToId }}
{{- end }}
post_uri: {{ .Post.URI }}
post_id: {{ .Post.Id }}
{{- if len .Post.AllTags }}
tags:
{{- range .Post.AllTags }}
- {{ .Name }}
{{- end }}
{{- end }}
{{- if len .Post.Descendants }}
descendants:
{{- range .Post.Descendants }}
- {{ .Id }}
{{- end }}
{{- end }}
---
{{ .Post.Content | tomd }}

{{ range .Post.MediaAttachments }}
{{- if eq .Type "image" }}
![{{ .Description }}]({{ .Path }})
{{ end }}
{{- end -}}

{{ range .Post.Descendants }}
{{ .Content | tomd }}
{{ range .MediaAttachments }}
{{- if eq .Type "image" }}
![{{ .Description }}]({{ .Path }})
{{- end }}
{{- end }}
{{- end }}
